Source: xivo-confgend-client
Section: python
Priority: extra
Maintainer: Wazo Maintainers <dev.wazo@gmail.com>
Build-Depends: debhelper (>= 9), dh-python, python3-all (>= 3.4), python3-setuptools
Standards-Version: 3.9.6
X-Python3-Version: >= 3.4

Package: xivo-confgend-client
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}
Provides: pf-xivo-confgen
Replaces: pf-xivo-confgen
Conflicts: pf-xivo-confgen
Description: Wazo telephony systems configurations generator
 Wazo is a system based on a powerful IPBX, to bring an easy to
 install solution for telephony and related services.
 .
 Confgen generate asterisk/freeswitch or any other telephony system 
 configuration from a Wazo configuration
 Confgen is build on a flexible architecture of frontends (targeted systems) 
 and backends (data source).
 .
 confgen is the client part of the generator.
 .
